/* line 10, ../src/screen.scss */
body.bp {
  margin: 0px;
  background: #e4e6e5 url(../images/WhiteTexture2.jpg) repeat-x;
  background-position: 0 80px;
}
/* line 9, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body.bp .clearfix {
  display: block;
}
/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Font Stacks */
/* line 22, ../src/screen.scss */
body {
  line-height: 1.3em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 25, ../src/screen.scss */
body header {
  font-size: 90%;
}
/* line 28, ../src/screen.scss */
body p, body article li, body footer, body div#site_sidebar {
  font-size: 10pt;
}

/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 33, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 57, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 62, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 46, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 38, ../src/screen.scss */
body.two-col {
  /* Articles */
}
/* line 39, ../src/screen.scss */
body.two-col .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body.two-col .container {
  display: block;
}
/* line 43, ../src/screen.scss */
body.two-col a, body.two-col a:visited {
  color: #000066;
  text-decoration: none;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  font-weight: bold;
}
/* line 49, ../src/screen.scss */
body.two-col a:hover {
  color: #7d9c00;
}
/* line 52, ../src/screen.scss */
body.two-col header#site_head {
  position: absolute;
  width: 100%;
  min-width: 960px;
  overflow: hidden;
  color: #b0cf21;
  z-index: 999;
}
/* line 60, ../src/screen.scss */
body.two-col header#site_head a {
  color: #b0cf21;
  font-weight: normal;
}
/* line 64, ../src/screen.scss */
body.two-col header#site_head a:hover {
  color: white;
}
/* line 67, ../src/screen.scss */
body.two-col header#site_head div#head_container {
  padding-top: 20px;
  background: #010d26;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #010d26), color-stop(100%, #031740));
  background-image: -moz-linear-gradient(top, #010d26 0%, #031740 100%);
  -moz-box-shadow: #333333 0px 1px 5px;
  -webkit-box-shadow: #333333 0px 1px 5px;
  -o-box-shadow: #333333 0px 1px 5px;
  box-shadow: #333333 0px 1px 5px;
  border-bottom: 1px solid #777;
}
/* line 75, ../src/screen.scss */
body.two-col header#site_head div#logo_container {
  font-size: 1.2em;
  padding-bottom: 10px;
}
/* line 78, ../src/screen.scss */
body.two-col header#site_head div#logo_container div#logo a {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  background: url(../images/greenlogo.png) no-repeat;
  text-indent: -9999px;
  height: 60px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#logo_container div#logo a {
  overflow-x: hidden;
}
/* line 84, ../src/screen.scss */
body.two-col header#site_head div#logo_container div#actions {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  padding-top: 20px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#logo_container div#actions {
  overflow-x: hidden;
}
/* line 87, ../src/screen.scss */
body.two-col header#site_head div#logo_container div#actions a {
  display: block;
  float: left;
  height: 18px;
}
/* line 92, ../src/screen.scss */
body.two-col header#site_head div#logo_container div#actions a#twitter {
  background: url(../images/twitter.png) no-repeat;
  padding-left: 30px;
  margin-left: 10px;
}
/* line 97, ../src/screen.scss */
body.two-col header#site_head div#logo_container div#actions a#rss {
  background: url(../images/rss.png) no-repeat;
  padding-left: 25px;
  padding-right: 10px;
  border-right: 1px solid #b0cf21;
}
/* line 104, ../src/screen.scss */
body.two-col header#site_head div#logo_container nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  padding-top: 20px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#logo_container nav {
  overflow-x: hidden;
}
/* line 107, ../src/screen.scss */
body.two-col header#site_head div#logo_container nav ul {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  overflow: visible;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body.two-col header#site_head div#logo_container nav ul {
  display: block;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.two-col header#site_head div#logo_container nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 41, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.two-col header#site_head div#logo_container nav ul li:first-child, body.two-col header#site_head div#logo_container nav ul li.first {
  padding-left: 0px;
}
/* line 43, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.two-col header#site_head div#logo_container nav ul li:last-child, body.two-col header#site_head div#logo_container nav ul li.last {
  padding-right: 0px;
}
/* line 111, ../src/screen.scss */
body.two-col header#site_head div#logo_container nav ul li {
  padding: 0 5px;
}
/* line 119, ../src/screen.scss */
body.two-col header#site_head div#panel {
  height: 180px;
  display: none;
}
/* line 123, ../src/screen.scss */
body.two-col header#site_head div#panel ul {
  padding: 0px;
}
/* line 125, ../src/screen.scss */
body.two-col header#site_head div#panel ul li {
  margin-bottom: 5px;
}
/* line 129, ../src/screen.scss */
body.two-col header#site_head div#panel div#about {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  height: 100%;
  font-size: 1.1em;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#panel div#about {
  overflow-x: hidden;
}
/* line 133, ../src/screen.scss */
body.two-col header#site_head div#panel div#about li {
  list-style: none;
}
/* line 138, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#panel div#contact {
  overflow-x: hidden;
}
/* line 140, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact input[type="text"] {
  width: 95%;
}
/* line 143, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact input[type="button"] {
  outline-width: 0;
  border: 1px solid #000;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(1%, rgba(255, 255, 255, 0.6)), color-stop(40%, rgba(255, 255, 255, 0.3)), color-stop(40%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 1%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0) 100%);
  background-color: #b0cf21;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
}
/* line 162, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact input[type="button"]:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
  background-color: #d0cf21;
}
/* line 166, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact input[type="button"]:active, body.two-col header#site_head div#panel div#contact button:active {
  background-color: #8ecf21;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 170, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact div#contact_response {
  display: inline;
}
/* line 174, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact textarea {
  resize: none;
  width: 95%;
  height: 8.25em;
}
/* line 179, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact div#contact-left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#panel div#contact div#contact-left {
  overflow-x: hidden;
}
/* line 182, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact div#contact-right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#panel div#contact div#contact-right {
  overflow-x: hidden;
}
/* line 189, ../src/screen.scss */
body.two-col header#site_head div#tab {
  height: 3em;
  display: block;
}
/* line 192, ../src/screen.scss */
body.two-col header#site_head div#tab div#pulldown {
  text-align: center;
  background: #B0CF21;
  padding: 5px;
  display: inline;
  float: right;
  position: relative;
  margin: 0 -640px 1.5em 640px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -o-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  border: 1px solid #777;
  border-top: 0px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#tab div#pulldown {
  overflow-x: hidden;
}
/* line 202, ../src/screen.scss */
body.two-col header#site_head div#tab div#pulldown a {
  color: black;
  font-weight: bold;
}
/* line 206, ../src/screen.scss */
body.two-col header#site_head div#tab div#pulldown a:hover {
  color: white;
  text-shadow: #aaaaaa 1px 1px 1px;
}
/* line 212, ../src/screen.scss */
body.two-col header#site_head div#tab a#close {
  display: none;
}
/* line 218, ../src/screen.scss */
body.two-col section#page {
  margin-top: 40px;
}
/* line 223, ../src/screen.scss */
body.two-col article {
  margin-bottom: 40px;
}
/* line 225, ../src/screen.scss */
body.two-col article div.article_date {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 50px;
  position: relative;
  display: inline-block;
  padding-right: 0px;
  margin-right: 5px;
  border-right: 5px solid black;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col article div.article_date {
  overflow-x: hidden;
}
/* line 232, ../src/screen.scss */
body.two-col article div.article_date .day, body.two-col article div.article_date .month, body.two-col article div.article_date .year {
  position: absolute;
}
/* line 235, ../src/screen.scss */
body.two-col article div.article_date span.day {
  font-size: 30px;
  top: 25px;
}
/* line 239, ../src/screen.scss */
body.two-col article div.article_date span.month {
  top: 0;
  left: 0;
  font-size: 18px;
}
/* line 244, ../src/screen.scss */
body.two-col article div.article_date span.year {
  top: 15px;
  right: 0px;
  font-size: 20px;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 251, ../src/screen.scss */
body.two-col article div.article_title {
  height: 60px;
}
/* line 253, ../src/screen.scss */
body.two-col article div.article_title h1 {
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 2em;
}
/* line 259, ../src/screen.scss */
body.two-col article div.article_tags {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  font-size: 1.2em;
}
/* line 264, ../src/screen.scss */
body.two-col article a.sourcelink, body.two-col article a.demolink {
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  position: relative;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -o-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  border: 1px solid #777;
}
/* line 276, ../src/screen.scss */
body.two-col article a.demolink {
  background: #B0CF21;
  color: black;
}
/* line 280, ../src/screen.scss */
body.two-col article a:hover.demolink {
  color: white;
}
/* line 283, ../src/screen.scss */
body.two-col article a.sourcelink {
  background: #006;
}
/* line 286, ../src/screen.scss */
body.two-col article a:hover.sourcelink {
  color: #B0CF21;
}
/* line 289, ../src/screen.scss */
body.two-col article h2 {
  border-left: 5px solid black;
  padding-left: 10px;
}
/* line 293, ../src/screen.scss */
body.two-col article pre {
  border: 1px solid black;
  border-left: 5px solid black;
  padding-left: 10px;
}
/* line 298, ../src/screen.scss */
body.two-col article footer {
  border-top: 1px solid black;
}
/* line 304, ../src/screen.scss */
body.two-col div#content {
  padding-bottom: 80px;
}
/* line 307, ../src/screen.scss */
body.two-col footer#site_footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 45px;
  padding-top: 10px;
  background: black;
  opacity: 0.8;
}
/* line 315, ../src/screen.scss */
body.two-col footer#site_footer a {
  color: #B0CF21;
  font-weight: normal;
}
/* line 319, ../src/screen.scss */
body.two-col footer#site_footer a:hover {
  color: white;
}
/* line 323, ../src/screen.scss */
body.two-col div#footer-container {
  padding: 0px;
  color: white;
}
/* line 326, ../src/screen.scss */
body.two-col div#footer-container #footer-copyright {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col div#footer-container #footer-copyright {
  overflow-x: hidden;
}
/* line 329, ../src/screen.scss */
body.two-col div#footer-container #footer-quote {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col div#footer-container #footer-quote {
  overflow-x: hidden;
}
/* line 331, ../src/screen.scss */
body.two-col div#footer-container #footer-quote span#twitter_date {
  font-style: italic;
  float: right;
}
/* line 338, ../src/screen.scss */
body.two-col div#site_sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  position: fixed;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col div#site_sidebar {
  overflow-x: hidden;
}
/* line 342, ../src/screen.scss */
body.two-col div#site_sidebar h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
/* line 347, ../src/screen.scss */
body.two-col div#site_sidebar h3.sidebar_top {
  margin-top: 0em;
}
/* line 350, ../src/screen.scss */
body.two-col div#site_sidebar ul.sidebar_list {
  padding: 0;
}
/* line 352, ../src/screen.scss */
body.two-col div#site_sidebar ul.sidebar_list li {
  list-style: none;
}
/* line 358, ../src/screen.scss */
body.two-col div#articles {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
  padding-right: 80px;
}
/* line 138, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col div#articles {
  overflow-x: hidden;
}
/* line 363, ../src/screen.scss */
body.two-col div#articles div.archive_title {
  font-size: 2em;
  margin-bottom: 1em;
}
/* line 368, ../src/screen.scss */
body.two-col section#main_content {
  padding-top: 150px;
}
