/* line 37, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 40, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 43, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 45, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 47, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 49, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 13, ../src/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  margin: 0px;
  background: url(../images/WhiteTexture.jpg);
}
/* line 54, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 55, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 56, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 57, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 58, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 61, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 62, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 63, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 64, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 66, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 67, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 68, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 69, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 70, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 71, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 72, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 73, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 74, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 75, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 76, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 77, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 78, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 79, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 80, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 81, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 82, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 83, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 84, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 85, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 86, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 87, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 88, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 89, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 90, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 91, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 92, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body.bp .clearfix {
  display: block;
}
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('../images/grid.png?1272582566');
}
/* line 4, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 25, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 33, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 57, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 62, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 46, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 48, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 26, ../src/screen.scss */
body.two-col {
  /* Articles */
}
/* line 27, ../src/screen.scss */
body.two-col .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body.two-col .container {
  display: block;
}
/* line 31, ../src/screen.scss */
body.two-col a {
  text-decoration: none;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 35, ../src/screen.scss */
body.two-col header#site_head {
  position: absolute;
  width: 100%;
  min-width: 960px;
  overflow: hidden;
  color: #b0cf21;
  z-index: 999;
}
/* line 42, ../src/screen.scss */
body.two-col header#site_head a {
  color: #b0cf21;
}
/* line 45, ../src/screen.scss */
body.two-col header#site_head div#head_container {
  padding-top: 20px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #010d26), color-stop(100%, #031740));
  background-image: -moz-linear-gradient(top, #010d26 0%, #031740 100%);
  -moz-box-shadow: #333333 0px 1px 5px;
  -webkit-box-shadow: #333333 0px 1px 5px;
  -ms-box-shadow: #333333 0px 1px 5px;
  box-shadow: #333333 0px 1px 5px;
  border-bottom: 1px solid #777;
}
/* line 52, ../src/screen.scss */
body.two-col header#site_head div#logo_container {
  font-size: 1.2em;
  padding-bottom: 10px;
}
/* line 55, ../src/screen.scss */
body.two-col header#site_head div#logo_container div#logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  background: url(../images/greenlogo.png) no-repeat;
  text-indent: -9999px;
  height: 60px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#logo_container div#logo {
  overflow-x: hidden;
}
/* line 61, ../src/screen.scss */
body.two-col header#site_head div#logo_container div#actions {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  padding-top: 15px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#logo_container div#actions {
  overflow-x: hidden;
}
/* line 65, ../src/screen.scss */
body.two-col header#site_head div#logo_container nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  padding-top: 15px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#logo_container nav {
  overflow-x: hidden;
}
/* line 68, ../src/screen.scss */
body.two-col header#site_head div#logo_container nav ul {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  overflow: visible;
}
/* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body.two-col header#site_head div#logo_container nav ul {
  display: block;
}
/* line 50, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.two-col header#site_head div#logo_container nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 41, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.two-col header#site_head div#logo_container nav ul li:first-child, body.two-col header#site_head div#logo_container nav ul li.first {
  padding-left: 0px;
}
/* line 43, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.two-col header#site_head div#logo_container nav ul li:last-child, body.two-col header#site_head div#logo_container nav ul li.last {
  padding-right: 0px;
}
/* line 73, ../src/screen.scss */
body.two-col header#site_head div#logo_container nav ul li a {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 5px;
}
/* line 77, ../src/screen.scss */
body.two-col header#site_head div#logo_container nav ul li a:hover, body.two-col header#site_head div#logo_container nav ul li a.current {
  color: white;
}
/* line 86, ../src/screen.scss */
body.two-col header#site_head div#panel {
  height: 180px;
  display: none;
}
/* line 90, ../src/screen.scss */
body.two-col header#site_head div#panel div#about {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  height: 100%;
  font-size: 1.1em;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#panel div#about {
  overflow-x: hidden;
}
/* line 94, ../src/screen.scss */
body.two-col header#site_head div#panel div#about li {
  list-style: none;
}
/* line 99, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#panel div#contact {
  overflow-x: hidden;
}
/* line 101, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact input[type="text"] {
  width: 95%;
}
/* line 104, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact input[type="button"] {
  outline-width: 0;
  border: 1px solid #000;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  -ms-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(1%, rgba(255, 255, 255, 0.6)), color-stop(40%, rgba(255, 255, 255, 0.3)), color-stop(40%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 1%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0) 100%);
  background-color: #b0cf21;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
}
/* line 123, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact input[type="button"]:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
  -ms-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
  background-color: #d0cf21;
}
/* line 127, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact input[type="button"]:active, body.two-col header#site_head div#panel div#contact button:active {
  background-color: #8ecf21;
  -moz-transition-property: 0s;
  -webkit-transition-property: 0s;
  -ms-transition-property: 0s;
  transition-property: 0s;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 132, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact textarea {
  resize: none;
  width: 95%;
  height: 8.25em;
}
/* line 137, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact div#contact-left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#panel div#contact div#contact-left {
  overflow-x: hidden;
}
/* line 140, ../src/screen.scss */
body.two-col header#site_head div#panel div#contact div#contact-right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#panel div#contact div#contact-right {
  overflow-x: hidden;
}
/* line 147, ../src/screen.scss */
body.two-col header#site_head div#tab {
  height: 3em;
  display: block;
}
/* line 150, ../src/screen.scss */
body.two-col header#site_head div#tab div#pulldown {
  text-align: center;
  background: #B0CF21;
  padding: 5px;
  display: inline;
  float: right;
  position: relative;
  margin: 0 -640px 1.5em 640px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -ms-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  border: 1px solid #777;
  border-top: 0px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header#site_head div#tab div#pulldown {
  overflow-x: hidden;
}
/* line 160, ../src/screen.scss */
body.two-col header#site_head div#tab div#pulldown a {
  color: black;
}
/* line 163, ../src/screen.scss */
body.two-col header#site_head div#tab div#pulldown a:hover {
  color: white;
  text-shadow: #aaaaaa 1px 1px 1px;
}
/* line 169, ../src/screen.scss */
body.two-col header#site_head div#tab a#close {
  display: none;
}
/* line 175, ../src/screen.scss */
body.two-col section#page {
  margin-top: 40px;
}
/* line 181, ../src/screen.scss */
body.two-col article div.article_date {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 5em;
  position: relative;
  display: inline-block;
  padding-right: 0px;
  margin-right: 5px;
  border-right: 5px solid black;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col article div.article_date {
  overflow-x: hidden;
}
/* line 188, ../src/screen.scss */
body.two-col article div.article_date .day, body.two-col article div.article_date .month, body.two-col article div.article_date .year {
  position: absolute;
}
/* line 191, ../src/screen.scss */
body.two-col article div.article_date span.day {
  font-size: 30px;
  top: 15px;
}
/* line 195, ../src/screen.scss */
body.two-col article div.article_date span.month {
  top: 0;
  left: 0;
  font-size: 18px;
}
/* line 200, ../src/screen.scss */
body.two-col article div.article_date span.year {
  top: 15px;
  right: 0px;
  font-size: 20px;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 208, ../src/screen.scss */
body.two-col article div.article_title h1 {
  margin-bottom: 0.3em;
  margin-top: 0;
}
/* line 214, ../src/screen.scss */
body.two-col article div.codeblock pre {
  margin-left: 35px;
  border: 1px solid black;
  border-left: 5px solid black;
  padding-left: 10px;
}
/* line 220, ../src/screen.scss */
body.two-col article div.codeblock span.type {
  position: absolute;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 231, ../src/screen.scss */
body.two-col div#content {
  padding-bottom: 80px;
}
/* line 234, ../src/screen.scss */
body.two-col footer#site_footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
/* line 240, ../src/screen.scss */
body.two-col div#footer-container {
  padding: 0px;
  color: white;
  height: 20px;
}
/* line 244, ../src/screen.scss */
body.two-col div#footer-container #footer-copyright {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col div#footer-container #footer-copyright {
  overflow-x: hidden;
}
/* line 247, ../src/screen.scss */
body.two-col div#footer-container #footer-quote {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col div#footer-container #footer-quote {
  overflow-x: hidden;
}
/* line 252, ../src/screen.scss */
body.two-col asside#site_sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col asside#site_sidebar {
  overflow-x: hidden;
}
/* line 256, ../src/screen.scss */
body.two-col article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col article {
  overflow-x: hidden;
}
/* line 260, ../src/screen.scss */
body.two-col section#main_content {
  padding-top: 150px;
}
