@import "blueprint/reset";
@import "partials/base";
@import "compass/css3/gradient";
@import "compass/utilities/lists/horizontal-list";
@import "compass/css3";
@import "blueprint";
@import "blueprint/scaffolding";

@include blueprint-scaffolding("body.bp");

$header_text_color: #B0CF21;

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  margin: 0px;
  //background: url(../images/WhiteTexture.jpg);
  background: #e4e6e5 url(../images/WhiteTexture2.jpg) repeat-x;
  background-position: 0 80px;
}

form.bp {
  @include blueprint-form; 
}

body.two-col {
  .container {
    //background-image: url(../images/grid.png);
    @include container; 
  }
  a, a:visited {
    color: #000066;
    text-decoration: none;
    @include transition(all,0.2s, ease-in-out);
    font-weight: bold;
  }
  a:hover {
    color: $header_text_color - #333;
  }
  header#site_head {
    position: absolute;
    width: 100%;
    min-width: 960px;
    overflow: hidden;
    color: $header_text_color;
    z-index: 999;
    $headder_text_padding_top: 20px;
    a {
      color: $header_text_color;
      font-weight: normal;
    }
    a:hover {
       color: white;
    }
    div#head_container {
      padding-top: 20px;
      background: #010d26;
      @include linear-gradient(color-stops(#010d26, #031740));
      @include box-shadow(#333,0px,1px,5px);
      border-bottom: 1px solid #777;
    }

    div#logo_container {
      font-size: 1.2em;
      padding-bottom: 10px;
      div#logo a {
        @include column(8);
        background: url(../images/greenlogo.png) no-repeat;
        text-indent: -9999px;
        height: 60px;
      }
      div#actions {
        @include column(8);
        padding-top: $headder_text_padding_top;
        a {
          display: block;
          float: left;
          height: 18px;
         }
        a#twitter {
          background: url(../images/twitter.png) no-repeat;
          padding-left: 30px;
          margin-left: 10px;
        }
        a#rss {
          background: url(../images/rss.png) no-repeat;
          padding-left: 25px;
          padding-right: 10px;
          border-right: 1px solid $header_text_color;
        }
      }
      nav {
        @include column(8, true);
        padding-top: $headder_text_padding_top;
        ul {
          float: right;
          @include horizontal-list;
          overflow: visible;
          li {
              padding: 0 5px;
          }
        }
      }
    }
    

    div#panel {
      height: 180px;
      display: none;

      div#about {
        @include column(8);
        height: 100%;
        font-size: 1.1em;
        li {
          list-style: none;
        }
      }

      div#contact {
        @include column(16, true);
        input[type="text"] {
          width: 95%;
        }
        input[type="button"] {
          outline-width: 0;
          border: 1px solid #000;
          border-radius: 50px;
          -moz-border-radius: 50px;
			
          @include box-shadow(rgba(0,0,0,0.5), 0px, 1px, 3px);
          @include transition(all,0.2s, ease-in-out);
          @include linear-gradient(color-stops(
                  rgba(255, 255, 255, 0.8) 0%,
                  rgba(255, 255, 255, 0.6) 1%,
                  rgba(255, 255, 255, 0.3) 40%,
                  rgba(255, 255, 255, 0.2) 40%,
                  rgba(255, 255, 255, 0.0) 100%
                ), "top" );
          background-color: $header_text_color;
          color: black;
          text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
        }
        input[type="button"]:hover {
          @include box-shadow(rgba(0,0,0,0.9), 0px, 1px, 3px);
          background-color: $header_text_color + #200000;
        }
        input[type="button"]:active, button:active {
          background-color: $header_text_color - #200;
          @include transition(0.0s);
        }
        div#contact_response {
          display: inline;
        }

        textarea {
          resize:none;
          width: 95%; 
          height: 8.25em;
        }
        div#contact-left {
          @include column(8);
        }
        div#contact-right {
          @include column(8, true);
        }
      }

    }

    div#tab {
      height: 3em;
      display:block;
      div#pulldown {
        text-align: center;
        background: #B0CF21;
        padding: 5px;
        @include push(16);
        @include column(4);
        @include border-bottom-radius(8px);
        @include box-shadow;
        border: 1px solid #777;
        border-top: 0px;
        a {
          color: black;
          font-weight: bold;
        }
        a:hover {
          color: white;
          @include text-shadow();
        } 
      }

      a#close {
        display: none;
      }
    }
  }

  section#page {
    margin-top: 40px;
  }

  /* Articles */
  article {
    margin-bottom: 40px;
    div.article_date {
      @include column(2);
      height: 6em;
      position: relative;
      display: inline-block;

      @include border(black, 5px);
      .day, .month, .year {
        position: absolute;
      }
      span.day { 
        font-size: 30px;
        top: 15px;
      }
      span.month { 
        top: 0;
        left: 0;
        font-size: 18px;
      }
      span.year {
          top: 15px;
          right: 0px;
          font-size: 20px;
          @include rotate(-90deg);
      }    
    }
    div.article_title {
      h1 {
        margin-bottom: 0.3em; 
        margin-top: 0;
      }
      p.subtitle {
        font-size: 1.3em;
      }
    }
    div.article_tags {
      border-bottom: 1px solid black;
      margin-bottom: 1em;
      font-size: 1.2em;
    }
    h2 {
      border-left: 5px solid black;
      padding-left: 10px;
    }
    div.codeblock {
      pre {
        margin-left: 35px;
        border: 1px solid black;
        border-left: 5px solid black;
        padding-left: 10px;
      }
      span.type {
        position: absolute;
        @include rotate(-90deg);
      }
    }
    footer {
      border-top: 1px solid black;
    }
    
  }

  div#content {
    padding-bottom: 80px;
  }
  footer#site_footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 45px;
    padding-top: 10px;
    background: black;
    opacity: 0.8;
    a {
      color: #B0CF21;
      font-weight: normal;
    }
    a:hover {
      color: white;
    }
  }
  div#footer-container {
    padding: 0px;
    color: white;
   #footer-copyright {
      @include column(8);
    }
    #footer-quote{
      @include column(16, true);
      span#twitter_date {
        font-style: italic;
        float: right;
      }
    }
  }

  div#site_sidebar {
    $sidebar_columns: 8;
    @include column($sidebar_columns, true); 
    @include push(1);
    h3 {
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }
    h3.sidebar_top{
      margin-top: 0em;
    }
    ul.sidebar_list{
      padding: 0;
      li {
        list-style: none;
      }
    }

  }
  div#articles {
    $content_columns: 15;
    @include column($content_columns); 
  } 
  section#main_content {
    padding-top: 150px;
  } 
}
